.columnContainer {
  margin-top: 100px;
}

.columnHeader {
  display: flex;
  justify-content: space-between;
}

.task-list {
  min-height: 100px;
  padding: 8px;
  border-radius: 4px;
  background-color: #eec6cf;
}

.card-task {
  background: white;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 5px;
  cursor: grab;
  box-shadow: 0 2px 4px rgb(0 0 0 / 0.1);
  transition: box-shadow 0.2s ease;
}

.owner {
  background-color: rgb(204, 246, 255);
  color: black;
  border-radius: 10px;
  font-weight: bolder;
  width: min-content;
  padding: 5px 20px;
}

.column {
  background-color: rgb(60, 34, 34);
}

/* pet-mode */
#pet-widget {
  display: none;
  position: fixed;
  z-index: 9999;
  bottom: 20px;
  right: 20px;
}
